<h1>質問する</h1>
<p>Find me in app/views/questions/new.html.erb</p>

<%=form_with model: Question.new, local: true do |f| %>
	<div><%= f.label :質問%></div>
	<div><%= f.text_field :title%></div>
	<div><%= f.label :内容%></div>
	<div><%= f.text_area :question_comment %></div>
	<div><%= f.submit%></div>
<% end %>